streamlit
numpy
torch
sentence-transformers
transformers
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
redis
sqlalchemy
google-cloud-translate
requests
beautifulsoup4
pypandoc
python-docx
openpyxl
python-pptx
pypdf
chardet